<%- include('./partials/header') %>

<div id="container">
    <div id="header">
        <img id="logo" src="images/p2logo.jpg" alt="logo">
    </div>
    <div id="content">
        <div id="nav">
            <ul>
                <li><a class="selected" href="/matches" <%- title === 'All Matches' ? 'class="active"' : '' %>>Home</a></li>
                <% if (user?._id.equals(ADMINUSERID)) { %>
                <a class="selected" href="/matches/new">Add Match</a>
                <% } %>
                <% if (user) { %>
                    <li><a class="selected" href="https://www.fanduel.com/">Fanduel</a><img id="fanduel-icon" src="../images/fanduellogo.JPG"></li>
                    <li><a class="selected" href="https://www.draftkings.com/">DraftKings</a><img id="dk-icon" src="../images/dklogo.JPG"></li>
                    <br><br><br>
                    <li><a class="selected" href="/logout">Log Out</a></li>
                <% } else { %>
                <li><a class="selected" href="/auth/google">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></li>
                <% } %>
            </ul>
        </div>
        <div id="main">
            <h2>Upcoming Matches</h2>
            <table id="list">
                <thead>
                    <tr>
                        <th>Sport</th>
                        <th>Matchup</th>
                        <th>Date</th>
                        <th>Current<br>Line</th>
                        <th>Over/Under</th>
                        <th>See<br>Matchup Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% matches.forEach(function(m) { %>
                    <tr>
                        <td><%= m.sport %></td>
                        <td><%= m.matchup %></td>
                        <td><%= m.date.toLocaleDateString() + " " + m.formattedDate%></td>
                        <td><%= m.currentLine %></td>
                        <td><%= m.overUnder %></td>
                        <td><a id="details-button"href="/matches/<%= m._id %>"><strong>Details</strong></a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>