<%- include('../partials/header') %>

<div id="container">
    <div id="header">
        <img id="logo" src="../images/p2logo.jpg" alt="logo">
    </div>
    <div id="content">
        <div id="nav">
            <ul>
                <li><a class="selected" href="/matches" <%- title === 'All Matches' ? 'class="active"' : '' %>>Home</a></li>
                <% if (user) { %>
                    <li><a class="selected" href="https://www.fanduel.com/">Fanduel</a><img id="fanduel-icon" src="../images/fanduellogo.JPG"></li>
                    <li><a class="selected" href="https://www.draftkings.com/">DraftKings</a><img id="dk-icon" src="../images/dklogo.JPG"></li>
                    <br><br><br>
                    <li><a class="selected" href="/logout">Log Out</a></li>
                <% } else { %>
                <li><a class="selected" href="/auth/google">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></li>
                <% } %>
            </ul>
        </div>
        <div id="main">
            <section id="show-page">
            <h4><strong><em>Matchup:</em></strong> <%= match.matchup %></h4>
            <div id="show-prop"><strong><em>Date:</em></strong> <%= match.date %></div>
            <div id="show-prop"><strong><em>Current Line:</em></strong> <%= match.currentLine %></div>
            <div id="show-prop"><strong><em>Opening Line:</em></strong> <%= match.openingLine %></div>
            <div id="show-prop"><strong><em>Over/Under:</em></strong> <%= match.overUnder %></div>
            <div id="show-prop"><strong><em>ATS Trends(season):</em></strong> <%= match.atsTrends %></div>
            <div id="show-prop"><strong><em>Over/Under Trends(season):</em></strong> <%= match.overUnderTrends %></div>
            <div id="show-prop"><strong><em>Projected Weather:</em></strong> <%= match.projectedWeather %></div>
            <div id="show-prop"><strong><em>Injured Players:</em></strong> <%= match.injuredPlayers %></div>
            <br><br>
            <% if (match.comments.length) { %>
            <table id="comment-table">
            <thead>
                <tr>
                <th><em>Comments</em></th>
                </tr>
            </thead>
            <tbody>
                <% match.comments.forEach(function(c) { %>
                <tr>
                    <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><strong><%= c.userName %></strong></td>
                    <td><%= c.content %></td>
                    <td>
                    <% if (user?._id.equals(c.user)) { %>
                        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    <% } %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
            </table>
            <% } else { %>
            <h5><em>No Comments Yet</em></h5>
            <% } %>
            <% if (user) { %>
            <br><br>
            <div id="comment-section">
            <h2>Add a Comment</h2><br>
            <form id="add-comment-form" method="POST" action="/matches/<%= match._id %>/comments">
                <label><em>Comment:</em></label>
                <textarea name="content"></textarea>
                <input type="submit" value="Submit">
            </form>
            <% } %>
            </div>
            </section>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>